color: black;
color: white;
color: #D494E5;
color: #EB87B0;
color: #F07E83;
color: #F3A271;
color: #F3F39E;


border-color: black;
border-color: white;
border-color: #D494E5;
border-color: #EB87B0;
border-color: #F07E83;
border-color: #F3A271;
border-color: #F3F39E;


background-color: black;
background-color: white;
background-color: #D494E5;
background-color: #EB87B0;
background-color: #F07E83;
background-color: #F3A271;
background-color: #F3F39E;


outline-color: black;
outline-color: white;
outline-color: #D494E5;
outline-color: #EB87B0;
outline-color: #F07E83;
outline-color: #F3A271;
outline-color: #F3F39E;