#main_s {
    background-color: transparent;
    text-align: center;
}
#qa_s {
    background-color: lime;
}
#whatnow_s {
    background-color: pink;
}
#sponsors_s {
    background-color: lime;
}
#countdown_s {
    background-color: pink;
}
#map_s {
    background-color: lime;
}
#contact_s {
    background-color: #333;
    color: white;
}


/* Main */
#main_s h1 {
    font-size: 3em;
}
#main_s {
    padding: 0;
}
#main_s > p {
    width: 100%;
    padding: 2em 0;
    background: lime;
}