/* TODO fix white bar on IOS */
/* TODO: fix positions of links on IOS */
html {
    height: 100%;
}
::selection {
    background: black;
    color: white;
}
::-moz-selection {
    background: black;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url("resources/background.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    overflow: hidden;
    overflow-y: scroll;
}
section {
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
    position: relative;
    background-position: center !important;
    background-size: auto 100% !important;
    background-color: white;
}
section h1 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}
#mlhBanner {
    display: block;
    background: url(resources/mlh_banner.png);
    width: 12vw;
    height: 21.3vw;
    position: relative;
    top: 76px;
    right: 10px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    z-index: 1;
    top: calc(10vw + 5px);
}
nav {
    width: 100%;
    border-bottom: 5px solid red;
    position: fixed;
    z-index: 2;
    background: black;
    color: white;
    display: flex;
    text-transform: uppercase;
}
nav.hidden {
    position: relative;
    opacity: 0;
    pointer-events: none;
}
nav > a {
    position: relative;
    background: rgba(0, 255, 0, .3);
    width: 100%;
    font-size: 2vw;
    line-height: 10vw;
    height: 10vw;
    text-align: center;
    
    color: white;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    
    transition: background .3s;
}
nav > a > span {
    position: relative;
}
nav > a .bar {
    position: absolute;
    background: white;
    height: 2px;
    top: calc(50% + .5 * 13pt + 5px);
    width: 100%;
    left: 50%;
    
    transform: translateX(-50%) scaleX(0);
    transition: transform .3s;
}
nav > a:hover .bar {
    transform: translateX(-50%) scaleX(.95);
}
nav > a.current:not(:hover) .bar {
    transform: translateX(-50%) scaleX(.8);
}

@media screen and (min-width: 1000px) {
    nav > a {
        font-size: calc(1000px * 0.02);
        line-height: calc(1000px * 0.1);
        height: calc(1000px * 0.1);
    }
    #mlhBanner {
        top: calc(1000px * 0.1 + 4px);
    }
}

a.navLink {
    position: relative;
    top: -12.5vw;
    display: block;
    width: 40px;
    height: 40px;
    background: pink;
    height: 0;
}
a#dropdown > img {
    vertical-align: middle;
}

@media screen and (min-width: 1000px) {
    a.navLink {
        top: calc(1000px * -.125);
    }
}

#main_s {
    height: calc(100% - 5px - 10vw - 1px);
    height: calc(100% - (10vw + 5px));
}
@media screen and (min-width: 1000px) {
    #main_s {
        height: calc(100% - 5px - 1000px * 0.1 - 1px);
        height: calc(100% - (1000px * .1 + 5px));
    }
}

#qa_s, #sponsors_s, #map_s {
    background: white;
}

/* Button overrides */
button {
    background: #492f92;
    border: 1px solid #fff;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: .4em;
    font-size: 12pt;
    
    transition: background .2s, color .05s;
}
button:disabled {
    color: lightgray;
    background: #7a5dcb;
    border-color: lightgray;
}
button:hover:not(:disabled) {
    background: #1d6a9a;
    cursor: pointer;
}
button:focus {
    border-color: #9CF;
    outline: 2px solid #9CF;
}
button:active {
    color: grey;
}

a {
    color: inherit;
    text-decoration: underline;
}

footer#copyright {
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: black;
    color: white;
    text-decoration: none;
}
footer#copyright > a {
    text-decoration: none;
}

#tooltip {
    height: 1em;
    background: rgba(0, 0, 0, .7);
    border-radius: 2px;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    color: white;
    padding: .5em;
    line-height: 1em;
    white-space: nowrap;
    
    transition: opacity .1s, visibility .1s, padding .2s;
}
#tooltip.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
}

@media screen and (min-aspect-ratio: 700/200) {
    body {
        color: green;
        background-size: 100% auto;
    }
}

li {
    padding: .4em;
    text-transform: uppercase;
}


/* Sponsor images */
#sponsorImgs {
    text-align: center;
}
a.sponsorImg {
    display: inline-block;
    margin: 2vw;
}
a.sponsorImg.priority1 {
    max-width: 35vw;
}
a.sponsorImg.priority2 {
    max-width: 20vw;
}
a.sponsorImg.priority3 {
    max-width: 15vw;
}
a.sponsorImg > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#bigRedButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
}